# Laboratorio - Joins con Pandas

Las operaciones de tipo merge aparecen frecuentemente cuando debemos combinar datos de diversas fuentes. 

En este ejemplo vamos a ver datos de población y área por estado en EEUU y vamos a crear un ranking de los estados por su densidad de población total en el año 2010.

In [1]:
# Importar las librerías necesarias
import numpy as np
import pandas as pd

In [10]:
# Crear dataframes con los archivos state-population.csv, state-areas.csv y state-abbrevs.csv
df_popu = pd.read_csv('../Data/state-population.csv')
df_popu

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
5              AL    total  2011    4801627.0
6              AL    total  2009    4757938.0
7              AL  under18  2009    1134192.0
8              AL  under18  2013    1111481.0
9              AL    total  2013    4833722.0
10             AL    total  2007    4672840.0
11             AL  under18  2007    1132296.0
12             AL    total  2008    4718206.0
13             AL  under18  2008    1134927.0
14             AL    total  2005    4569805.0
15             AL  under18  2005    1117229.0
16             AL    total  2006    4628981.0
17             AL  under18  2006    1126798.0
18             AL    total  2004    4530729.0
19             AL  under18  2004    1113662.0
20             AL    total  2003    4503491.0
21             AL  under18  2003    1113083.0
22             AL    total  2001    4467634.0
23             AL  under18  2001    1120409.0
24             AL    total  2002    4480089.0
25             AL  under18  2002    1116590.0
26             AL  under18  1999    1121287.0
27             AL    total  1999    4430141.0
28             AL    total  2000    4452173.0
29             AL  under18  2000    1122273.0
...           ...      ...   ...          ...
2514          USA  under18  1999   71946051.0
2515          USA    total  2000  282162411.0
2516          USA  under18  2000   72376189.0
2517          USA    total  1999  279040181.0
2518          USA    total  2001  284968955.0
2519          USA  under18  2001   72671175.0
2520          USA    total  2002  287625193.0
2521          USA  under18  2002   72936457.0
2522          USA    total  2003  290107933.0
2523          USA  under18  2003   73100758.0
2524          USA    total  2004  292805298.0
2525          USA  under18  2004   73297735.0
2526          USA    total  2005  295516599.0
2527          USA  under18  2005   73523669.0
2528          USA    total  2006  298379912.0
2529          USA  under18  2006   73757714.0
2530          USA    total  2007  301231207.0
2531          USA  under18  2007   74019405.0
2532          USA    total  2008  304093966.0
2533          USA  under18  2008   74104602.0
2534          USA  under18  2013   73585872.0
2535          USA    total  2013  316128839.0
2536          USA    total  2009  306771529.0
2537          USA  under18  2009   74134167.0
2538          USA  under18  2010   74119556.0
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

In [9]:
df_area = pd.read_csv('../Data/state-areas.csv')
df_area

                   state  area (sq. mi)
0                Alabama          52423
1                 Alaska         656425
2                Arizona         114006
3               Arkansas          53182
4             California         163707
5               Colorado         104100
6            Connecticut           5544
7               Delaware           1954
8                Florida          65758
9                Georgia          59441
10                Hawaii          10932
11                 Idaho          83574
12              Illinois          57918
13               Indiana          36420
14                  Iowa          56276
15                Kansas          82282
16              Kentucky          40411
17             Louisiana          51843
18                 Maine          35387
19              Maryland          12407
20         Massachusetts          10555
21              Michigan          96810
22             Minnesota          86943
23           Mississippi          48434
24              Missouri          69709
25               Montana         147046
26              Nebraska          77358
27                Nevada         110567
28         New Hampshire           9351
29            New Jersey           8722
30            New Mexico         121593
31              New York          54475
32        North Carolina          53821
33          North Dakota          70704
34                  Ohio          44828
35              Oklahoma          69903
36                Oregon          98386
37          Pennsylvania          46058
38          Rhode Island           1545
39        South Carolina          32007
40          South Dakota          77121
41             Tennessee          42146
42                 Texas         268601
43                  Utah          84904
44               Vermont           9615
45              Virginia          42769
46            Washington          71303
47         West Virginia          24231
48             Wisconsin          65503
49               Wyoming          97818
50  District of Columbia             68
51           Puerto Rico           3515

In [11]:

df_abbr = pd.read_csv('../Data/state-abbrevs.csv')
df_abbr

                   state abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [14]:
# Unir la tabla de población con las abreviaturas para obtener el nombre completo del Estado
pd.merge(df_popu,df_abbr,left_on='state/region',right_on='abbreviation')

     state/region     ages  year  population    state abbreviation
0              AL  under18  2012   1117489.0  Alabama           AL
1              AL    total  2012   4817528.0  Alabama           AL
2              AL  under18  2010   1130966.0  Alabama           AL
3              AL    total  2010   4785570.0  Alabama           AL
4              AL  under18  2011   1125763.0  Alabama           AL
5              AL    total  2011   4801627.0  Alabama           AL
6              AL    total  2009   4757938.0  Alabama           AL
7              AL  under18  2009   1134192.0  Alabama           AL
8              AL  under18  2013   1111481.0  Alabama           AL
9              AL    total  2013   4833722.0  Alabama           AL
10             AL    total  2007   4672840.0  Alabama           AL
11             AL  under18  2007   1132296.0  Alabama           AL
12             AL    total  2008   4718206.0  Alabama           AL
13             AL  under18  2008   1134927.0  Alabama           AL
14             AL    total  2005   4569805.0  Alabama           AL
15             AL  under18  2005   1117229.0  Alabama           AL
16             AL    total  2006   4628981.0  Alabama           AL
17             AL  under18  2006   1126798.0  Alabama           AL
18             AL    total  2004   4530729.0  Alabama           AL
19             AL  under18  2004   1113662.0  Alabama           AL
20             AL    total  2003   4503491.0  Alabama           AL
21             AL  under18  2003   1113083.0  Alabama           AL
22             AL    total  2001   4467634.0  Alabama           AL
23             AL  under18  2001   1120409.0  Alabama           AL
24             AL    total  2002   4480089.0  Alabama           AL
25             AL  under18  2002   1116590.0  Alabama           AL
26             AL  under18  1999   1121287.0  Alabama           AL
27             AL    total  1999   4430141.0  Alabama           AL
28             AL    total  2000   4452173.0  Alabama           AL
29             AL  under18  2000   1122273.0  Alabama           AL
...           ...      ...   ...         ...      ...          ...
2418           WY    total  2003    503453.0  Wyoming           WY
2419           WY  under18  2003    124182.0  Wyoming           WY
2420           WY    total  2004    509106.0  Wyoming           WY
2421           WY  under18  2004    123974.0  Wyoming           WY
2422           WY    total  2002    500017.0  Wyoming           WY
2423           WY  under18  2002    125495.0  Wyoming           WY
2424           WY    total  2001    494657.0  Wyoming           WY
2425           WY  under18  2001    126212.0  Wyoming           WY
2426           WY    total  2000    494300.0  Wyoming           WY
2427           WY  under18  2000    128774.0  Wyoming           WY
2428           WY    total  1999    491780.0  Wyoming           WY
2429           WY  under18  1999    130793.0  Wyoming           WY
2430           WY    total  1997    489452.0  Wyoming           WY
2431           WY  under18  1997    134328.0  Wyoming           WY
2432           WY  under18  1998    132602.0  Wyoming           WY
2433           WY    total  1998    490787.0  Wyoming           WY
2434           WY  under18  1996    135698.0  Wyoming           WY
2435           WY    total  1996    488167.0  Wyoming           WY
2436           WY    total  1995    485160.0  Wyoming           WY
2437           WY  under18  1995    136785.0  Wyoming           WY
2438           WY  under18  1994    137733.0  Wyoming           WY
2439           WY    total  1994    480283.0  Wyoming           WY
2440           WY  under18  1992    137308.0  Wyoming           WY
2441           WY    total  1992    466251.0  Wyoming           WY
2442           WY    total  1993    473081.0  Wyoming           WY
2443           WY  under18  1993    137458.0  Wyoming           WY
2444           WY    total  1991    459260.0  Wyoming           WY
2445           WY  under18  1991    136720.0  Wyoming           WY
2446           WY  under18  1990    136078.0  Wyoming           WY
2447           WY    total  1990    453690.0  Wyoming           WY

[2448 rows x 6 columns]

In [16]:
# Eliminar las columnas duplicadas
pd.merge(df_popu,df_abbr,left_on='state/region',right_on='abbreviation').drop(columns='abbreviation')

     state/region     ages  year  population    state
0              AL  under18  2012   1117489.0  Alabama
1              AL    total  2012   4817528.0  Alabama
2              AL  under18  2010   1130966.0  Alabama
3              AL    total  2010   4785570.0  Alabama
4              AL  under18  2011   1125763.0  Alabama
5              AL    total  2011   4801627.0  Alabama
6              AL    total  2009   4757938.0  Alabama
7              AL  under18  2009   1134192.0  Alabama
8              AL  under18  2013   1111481.0  Alabama
9              AL    total  2013   4833722.0  Alabama
10             AL    total  2007   4672840.0  Alabama
11             AL  under18  2007   1132296.0  Alabama
12             AL    total  2008   4718206.0  Alabama
13             AL  under18  2008   1134927.0  Alabama
14             AL    total  2005   4569805.0  Alabama
15             AL  under18  2005   1117229.0  Alabama
16             AL    total  2006   4628981.0  Alabama
17             AL  under18  2006   1126798.0  Alabama
18             AL    total  2004   4530729.0  Alabama
19             AL  under18  2004   1113662.0  Alabama
20             AL    total  2003   4503491.0  Alabama
21             AL  under18  2003   1113083.0  Alabama
22             AL    total  2001   4467634.0  Alabama
23             AL  under18  2001   1120409.0  Alabama
24             AL    total  2002   4480089.0  Alabama
25             AL  under18  2002   1116590.0  Alabama
26             AL  under18  1999   1121287.0  Alabama
27             AL    total  1999   4430141.0  Alabama
28             AL    total  2000   4452173.0  Alabama
29             AL  under18  2000   1122273.0  Alabama
...           ...      ...   ...         ...      ...
2418           WY    total  2003    503453.0  Wyoming
2419           WY  under18  2003    124182.0  Wyoming
2420           WY    total  2004    509106.0  Wyoming
2421           WY  under18  2004    123974.0  Wyoming
2422           WY    total  2002    500017.0  Wyoming
2423           WY  under18  2002    125495.0  Wyoming
2424           WY    total  2001    494657.0  Wyoming
2425           WY  under18  2001    126212.0  Wyoming
2426           WY    total  2000    494300.0  Wyoming
2427           WY  under18  2000    128774.0  Wyoming
2428           WY    total  1999    491780.0  Wyoming
2429           WY  under18  1999    130793.0  Wyoming
2430           WY    total  1997    489452.0  Wyoming
2431           WY  under18  1997    134328.0  Wyoming
2432           WY  under18  1998    132602.0  Wyoming
2433           WY    total  1998    490787.0  Wyoming
2434           WY  under18  1996    135698.0  Wyoming
2435           WY    total  1996    488167.0  Wyoming
2436           WY    total  1995    485160.0  Wyoming
2437           WY  under18  1995    136785.0  Wyoming
2438           WY  under18  1994    137733.0  Wyoming
2439           WY    total  1994    480283.0  Wyoming
2440           WY  under18  1992    137308.0  Wyoming
2441           WY    total  1992    466251.0  Wyoming
2442           WY    total  1993    473081.0  Wyoming
2443           WY  under18  1993    137458.0  Wyoming
2444           WY    total  1991    459260.0  Wyoming
2445           WY  under18  1991    136720.0  Wyoming
2446           WY  under18  1990    136078.0  Wyoming
2447           WY    total  1990    453690.0  Wyoming

[2448 rows x 5 columns]

In [41]:
# Verificar la existencia de valores nulos
df = pd.merge(df_popu,df_abbr,left_on='state/region',right_on='abbreviation',how='outer') 
df

     state/region     ages  year   population    state abbreviation
0              AL  under18  2012    1117489.0  Alabama           AL
1              AL    total  2012    4817528.0  Alabama           AL
2              AL  under18  2010    1130966.0  Alabama           AL
3              AL    total  2010    4785570.0  Alabama           AL
4              AL  under18  2011    1125763.0  Alabama           AL
5              AL    total  2011    4801627.0  Alabama           AL
6              AL    total  2009    4757938.0  Alabama           AL
7              AL  under18  2009    1134192.0  Alabama           AL
8              AL  under18  2013    1111481.0  Alabama           AL
9              AL    total  2013    4833722.0  Alabama           AL
10             AL    total  2007    4672840.0  Alabama           AL
11             AL  under18  2007    1132296.0  Alabama           AL
12             AL    total  2008    4718206.0  Alabama           AL
13             AL  under18  2008    1134927.0  Alabama           AL
14             AL    total  2005    4569805.0  Alabama           AL
15             AL  under18  2005    1117229.0  Alabama           AL
16             AL    total  2006    4628981.0  Alabama           AL
17             AL  under18  2006    1126798.0  Alabama           AL
18             AL    total  2004    4530729.0  Alabama           AL
19             AL  under18  2004    1113662.0  Alabama           AL
20             AL    total  2003    4503491.0  Alabama           AL
21             AL  under18  2003    1113083.0  Alabama           AL
22             AL    total  2001    4467634.0  Alabama           AL
23             AL  under18  2001    1120409.0  Alabama           AL
24             AL    total  2002    4480089.0  Alabama           AL
25             AL  under18  2002    1116590.0  Alabama           AL
26             AL  under18  1999    1121287.0  Alabama           AL
27             AL    total  1999    4430141.0  Alabama           AL
28             AL    total  2000    4452173.0  Alabama           AL
29             AL  under18  2000    1122273.0  Alabama           AL
...           ...      ...   ...          ...      ...          ...
2514          USA  under18  1999   71946051.0      NaN          NaN
2515          USA    total  2000  282162411.0      NaN          NaN
2516          USA  under18  2000   72376189.0      NaN          NaN
2517          USA    total  1999  279040181.0      NaN          NaN
2518          USA    total  2001  284968955.0      NaN          NaN
2519          USA  under18  2001   72671175.0      NaN          NaN
2520          USA    total  2002  287625193.0      NaN          NaN
2521          USA  under18  2002   72936457.0      NaN          NaN
2522          USA    total  2003  290107933.0      NaN          NaN
2523          USA  under18  2003   73100758.0      NaN          NaN
2524          USA    total  2004  292805298.0      NaN          NaN
2525          USA  under18  2004   73297735.0      NaN          NaN
2526          USA    total  2005  295516599.0      NaN          NaN
2527          USA  under18  2005   73523669.0      NaN          NaN
2528          USA    total  2006  298379912.0      NaN          NaN
2529          USA  under18  2006   73757714.0      NaN          NaN
2530          USA    total  2007  301231207.0      NaN          NaN
2531          USA  under18  2007   74019405.0      NaN          NaN
2532          USA    total  2008  304093966.0      NaN          NaN
2533          USA  under18  2008   74104602.0      NaN          NaN
2534          USA  under18  2013   73585872.0      NaN          NaN
2535          USA    total  2013  316128839.0      NaN          NaN
2536          USA    total  2009  306771529.0      NaN          NaN
2537          USA  under18  2009   74134167.0      NaN          NaN
2538          USA  under18  2010   74119556.0      NaN          NaN
2539          USA    total  2010  309326295.0      NaN          NaN
2540          USA  under18  2011   73902222.0      NaN          NaN
2541          USA    total  2011  311582564.0      NaN          NaN
2542          USA  under18  2012   73708179.0      NaN          NaN
2543          USA    total  2012  313873685.0      NaN          NaN

[2544 rows x 6 columns]

In [46]:
# Inverstigar los valores nulos ¿Siguen algún patrón los datos faltantes?
df.loc[df['abbreviation'].isnull(),'state/region'].unique()

array(['PR', 'USA'], dtype=object)

In [59]:
# ¿Qué pasa con el estado de Puerto Rico? Corregir la tabla para incluir el Estado cuando la abreviatura no funciona
df2 = pd.DataFrame({'abbreviation':['USA','PR'],
                    'state':['United States of America','Puerto Rico']})
df_abbr2 = df_abbr.append(df2,ignore_index=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [65]:
# Unir la tabla de población y abreviaturas con la de áreas
df_popabbr = pd.merge(df_pop,df_abbr2,how='outer',left_on='state/region',right_on='abbreviation')
df_popabbr.merge(df_area,how='outer')

,state/region,ages,year,population,abbreviation,state,area (sq. mi)
0,AL,under18,2012,1117489.0,AL,Alabama,52423.0
1,AL,total,2012,4817528.0,AL,Alabama,52423.0
2,AL,under18,2010,1130966.0,AL,Alabama,52423.0
3,AL,total,2010,4785570.0,AL,Alabama,52423.0
4,AL,under18,2011,1125763.0,AL,Alabama,52423.0
5,AL,total,2011,4801627.0,AL,Alabama,52423.0
6,AL,total,2009,4757938.0,AL,Alabama,52423.0
7,AL,under18,2009,1134192.0,AL,Alabama,52423.0
8,AL,under18,2013,1111481.0,AL,Alabama,52423.0
9,AL,total,2013,4833722.0,AL,Alabama,52423.0
10,AL,total,2007,4672840.0,AL,Alabama,52423.0
11,AL,under18,2007,1132296.0,AL,Alabama,52423.0
12,AL,total,2008,4718206.0,AL,Alabama,52423.0
13,AL,under18,2008,1134927.0,AL,Alabama,52423.0
14,AL,total,2005,4569805.0,AL,Alabama,52423.0
15,AL,under18,2005,1117229.0,AL,Alabama,52423.0
16,AL,total,2006,4628981.0,AL,Alabama,52423.0
17,AL,under18,2006,1126798.0,AL,Alabama,52423.0
18,AL,total,2004,4530729.0,AL,Alabama,52423.0
19,AL,under18,2004,1113662.0,AL,Alabama,52423.0
20,AL,total,2003,4503491.0,AL,Alabama,52423.0
21,AL,under18,2003,1113083.0,AL,Alabama,52423.0
22,AL,total,2001,4467634.0,AL,Alabama,52423.0
23,AL,under18,2001,1120409.0,AL,Alabama,52423.0
24,AL,total,2002,4480089.0,AL,Alabama,52423.0
25,AL,under18,2002,1116590.0,AL,Alabama,52423.0
26,AL,under18,1999,1121287.0,AL,Alabama,52423.0
27,AL,total,1999,4430141.0,AL,Alabama,52423.0
28,AL,total,2000,4452173.0,AL,Alabama,52423.0
29,AL,under18,2000,1122273.0,AL,Alabama,52423.0
...,...,...,...,...,...,...,...
2514,USA,under18,1999,71946051.0,USA,United States of America,NaN
2515,USA,total,2000,282162411.0,USA,United States of America,NaN
2516,USA,under18,2000,72376189.0,USA,United States of America,NaN
2517,USA,total,1999,279040181.0,USA,United States of America,NaN
2518,USA,total,2001,284968955.0,USA,United States of America,NaN
2519,USA,under18,2001,72671175.0,USA,United States of America,NaN
2520,USA,total,2002,287625193.0,USA,United States of America,NaN
2521,USA,under18,2002,72936457.0,USA,United States of America,NaN
2522,USA,total,2003,290107933.0,USA,United States of America,NaN
2523,USA,under18,2003,73100758.0,USA,United States of America,NaN
2524,USA,total,2004,292805298.0,USA,United States of America,NaN
2525,USA,under18,2004,73297735.0,USA,United States of America,NaN
2526,USA,total,2005,295516599.0,USA,United States of America,NaN
2527,USA,under18,2005,73523669.0,USA,United States of America,NaN
2528,USA,total,2006,298379912.0,USA,United States of America,NaN
2529,USA,under18,2006,73757714.0,USA,United States of America,NaN
2530,USA,total,2007,301231207.0,USA,United States of America,NaN
2531,USA,under18,2007,74019405.0,USA,United States of America,NaN
2532,USA,total,2008,304093966.0,USA,United States of America,NaN
2533,USA,under18,2008,74104602.0,USA,United States of America,NaN
2534,USA,under18,2013,73585872.0,USA,United States of America,NaN
2535,USA,total,2013,316128839.0,USA,United States of America,NaN
2536,USA,total,2009,306771529.0,USA,United States of America,NaN
2537,USA,under18,2009,74134167.0,USA,United States of America,NaN
2538,USA,under18,2010,74119556.0,USA,United States of America,NaN
2539,USA,total,2010,309326295.0,USA,United States of America,NaN
2540,USA,under18,2011,73902222.0,USA,United States of America,NaN
2541,USA,total,2011,311582564.0,USA,United States of America,NaN
2542,USA,under18,2012,73708179.0,USA,United States of America,NaN
2543,USA,total,2012,313873685.0,USA,United States of America,NaN

In [66]:
# Identificar los datos faltantes
df_popabbr.merge(df_area,how='outer').isnull().sum()

state/region      0
ages              0
year              0
population       20
abbreviation      0
state             0
area (sq. mi)    48
dtype: int64

In [71]:
# Descartar los datos faltantes, si fuera conveniente con dropna
df_all = df_popabbr.merge(df_area,how='outer').dropna()

In [91]:
# Filtrar la tabla para el año 2010 y el tipo de población relevante para calcular la densidad total
df_all['densidad'] = df_all[(df_all.year == 2010) & (df_all.ages == 'total')]['population']/df_all[(df_all.year == 2010) & (df_all.ages == 'total')]['area (sq. mi)']

In [94]:
# Calcular en una nueva serie la densidad de población para 2010 y generar un ranking de estados
df_all[(df_all.year == 2010) & (df_all.ages == 'total')].sort_values(by='densidad', ascending=False)

,state/region,ages,year,population,abbreviation,state,area (sq. mi),densidad
389,DC,total,2010,605125.0,DC,District of Columbia,68.0,8898.897059
2490,PR,total,2010,3721208.0,PR,Puerto Rico,3515.0,1058.665149
1445,NJ,total,2010,8802707.0,NJ,New Jersey,8722.0,1009.253268
1914,RI,total,2010,1052669.0,RI,Rhode Island,1545.0,681.339159
293,CT,total,2010,3579210.0,CT,Connecticut,5544.0,645.600649
1050,MA,total,2010,6563263.0,MA,Massachusetts,10555.0,621.815538
965,MD,total,2010,5787193.0,MD,Maryland,12407.0,466.445797
379,DE,total,2010,899711.0,DE,Delaware,1954.0,460.445752
1541,NY,total,2010,19398228.0,NY,New York,54475.0,356.094135
475,FL,total,2010,18846054.0,FL,Florida,65758.0,286.597129
1829,PA,total,2010,12710472.0,PA,Pennsylvania,46058.0,275.966651
1722,OH,total,2010,11545435.0,OH,Ohio,44828.0,257.549634
197,CA,total,2010,37333601.0,CA,California,163707.0,228.051342
666,IL,total,2010,12839695.0,IL,Illinois,57918.0,221.687472
2213,VA,total,2010,8024417.0,VA,Virginia,42769.0,187.622273
677,IN,total,2010,6489965.0,IN,Indiana,36420.0,178.197831
1626,NC,total,2010,9559533.0,NC,North Carolina,53821.0,177.617157
485,GA,total,2010,9713248.0,GA,Georgia,59441.0,163.409902
2021,TN,total,2010,6356683.0,TN,Tennessee,42146.0,150.825298
1925,SC,total,2010,4636361.0,SC,South Carolina,32007.0,144.854594
1434,NH,total,2010,1316614.0,NH,New Hampshire,9351.0,140.799273
570,HI,total,2010,1363731.0,HI,Hawaii,10932.0,124.746707
858,KY,total,2010,4347698.0,KY,Kentucky,40411.0,107.586994
1061,MI,total,2010,9876149.0,MI,Michigan,96810.0,102.015794
2298,WA,total,2010,6742256.0,WA,Washington,71303.0,94.557817
2106,TX,total,2010,25245178.0,TX,Texas,268601.0,93.987655
3,AL,total,2010,4785570.0,AL,Alabama,52423.0,91.287603
869,LA,total,2010,4545392.0,LA,Louisiana,51843.0,87.676099
2394,WI,total,2010,5689060.0,WI,Wisconsin,65503.0,86.851900
1242,MO,total,2010,5996063.0,MO,Missouri,69709.0,86.015622
2309,WV,total,2010,1854146.0,WV,West Virginia,24231.0,76.519582
2202,VT,total,2010,625793.0,VT,Vermont,9615.0,65.085075
1157,MS,total,2010,2970047.0,MS,Mississippi,48434.0,61.321530
1146,MN,total,2010,5310337.0,MN,Minnesota,86943.0,61.078373
101,AZ,total,2010,6408790.0,AZ,Arizona,114006.0,56.214497
189,AR,total,2010,2922280.0,AR,Arkansas,53182.0,54.948667
762,IA,total,2010,3050314.0,IA,Iowa,56276.0,54.202751
1733,OK,total,2010,3759263.0,OK,Oklahoma,69903.0,53.778278
283,CO,total,2010,5048196.0,CO,Colorado,104100.0,48.493718
1818,OR,total,2010,3837208.0,OR,Oregon,98386.0,39.001565
954,ME,total,2010,1327366.0,ME,Maine,35387.0,37.509990
773,KS,total,2010,2858910.0,KS,Kansas,82282.0,34.745266
2117,UT,total,2010,2774424.0,UT,Utah,84904.0,32.677188
1349,NV,total,2010,2703230.0,NV,Nevada,110567.0,24.448796
1338,NE,total,2010,1829838.0,NE,Nebraska,77358.0,23.654153
581,ID,total,2010,1570718.0,ID,Idaho,83574.0,18.794338
1530,NM,total,2010,2064982.0,NM,New Mexico,121593.0,16.982737
2010,SD,total,2010,816211.0,SD,South Dakota,77121.0,10.583512
1637,ND,total,2010,674344.0,ND,North Dakota,70704.0,9.537565
1253,MT,total,2010,990527.0,MT,Montana,147046.0,6.736171
2405,WY,total,2010,564222.0,WY,Wyoming,97818.0,5.768079
91,AK,total,2010,713868.0,AK,Alaska,656425.0,1.087509