# LAB: Introducción a Pandas 1

## 1. Introducción

Usaremos en este caso una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

#### Para resolver el LAB: 
    Investigar los métodos value_counts() y sort_values() de la clase DataFrame

### 1.1 Importamos los paquetes a usar

In [ ]:
import pandas as pd

### 1.2 Importamos los datos a usar

In [ ]:
df = pd.read_csv("../Data/data_filt.csv"
           , encoding = 'latin1')

## 2. Explorando el dataset

### 2.1. ¿Cuántas filas y cuántas columnas tiene el dataset?

In [3]:
df

       ch06           nivel_ed  htot            calif     p47t
0        46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1        26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2        47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3        52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4        45        1_H/Sec inc    44  2_Op./No calif.   9500.0
5        38  2_Sec. comp y más    72    1_Prof./Tecn.   6000.0
6        40  2_Sec. comp y más    44  2_Op./No calif.   9000.0
7        53        1_H/Sec inc    72  2_Op./No calif.   4260.0
8        24        1_H/Sec inc    55  2_Op./No calif.   3800.0
9        44  2_Sec. comp y más    60  2_Op./No calif.  10517.0
10       72        1_H/Sec inc    15    1_Prof./Tecn.   8300.0
11       40  2_Sec. comp y más    42  2_Op./No calif.   4900.0
12       43  2_Sec. comp y más    15    1_Prof./Tecn.  11000.0
13       47  2_Sec. comp y más    45  2_Op./No calif.   9000.0
14       40        1_H/Sec inc    14  2_Op./No calif.   3500.0
15       40        1_H/Sec inc    55  2_Op./No calif.   8000.0
16       43        1_H/Sec inc    48  2_Op./No calif.   2500.0
17       43        1_H/Sec inc    72  2_Op./No calif.   7500.0
18       42        1_H/Sec inc    72  2_Op./No calif.   5000.0
19       29        1_H/Sec inc    20  2_Op./No calif.   5500.0
20       44  2_Sec. comp y más    36    1_Prof./Tecn.   7000.0
21       25  2_Sec. comp y más    36  2_Op./No calif.   6500.0
22       48        1_H/Sec inc    30  2_Op./No calif.   3000.0
23       19  2_Sec. comp y más    25  2_Op./No calif.   2000.0
24       53        1_H/Sec inc    40  2_Op./No calif.   9100.0
25       47        1_H/Sec inc    36  2_Op./No calif.   5100.0
26       40        1_H/Sec inc    40  2_Op./No calif.   7200.0
27       54        1_H/Sec inc    70  2_Op./No calif.   4800.0
28       37        1_H/Sec inc    51  2_Op./No calif.   2700.0
29       37        1_H/Sec inc    24  2_Op./No calif.   3000.0
...     ...                ...   ...              ...      ...
23418    37  2_Sec. comp y más    48  2_Op./No calif.  10500.0
23419    36  2_Sec. comp y más    40    1_Prof./Tecn.  13000.0
23420    29  2_Sec. comp y más    40  2_Op./No calif.   9500.0
23421    28  2_Sec. comp y más    40  2_Op./No calif.   9700.0
23422    29        1_H/Sec inc    48    1_Prof./Tecn.   3500.0
23423    47        1_H/Sec inc    60  2_Op./No calif.   8400.0
23424    28  2_Sec. comp y más    20  2_Op./No calif.   3500.0
23425    46  2_Sec. comp y más    40    1_Prof./Tecn.  12000.0
23426    58  2_Sec. comp y más    20  2_Op./No calif.   6000.0
23427    33  2_Sec. comp y más    48  2_Op./No calif.   5500.0
23428    36  2_Sec. comp y más    60  2_Op./No calif.   8200.0
23429    61  2_Sec. comp y más    30    1_Prof./Tecn.   6000.0
23430    62  2_Sec. comp y más    30    1_Prof./Tecn.   8500.0
23431    41  2_Sec. comp y más    56    1_Prof./Tecn.  15000.0
23432    38        1_H/Sec inc    44    1_Prof./Tecn.   6800.0
23433    41  2_Sec. comp y más    40    1_Prof./Tecn.   8000.0
23434    63  2_Sec. comp y más    18  2_Op./No calif.   7100.0
23435    39        1_H/Sec inc    48  2_Op./No calif.   3500.0
23436    37        1_H/Sec inc    50  2_Op./No calif.   5800.0
23437    65        1_H/Sec inc    56  2_Op./No calif.   3500.0
23438    31  2_Sec. comp y más    24  2_Op./No calif.   5800.0
23439    17        1_H/Sec inc    56  2_Op./No calif.   3500.0
23440    19        1_H/Sec inc    48  2_Op./No calif.   7000.0
23441    33        1_H/Sec inc    24  2_Op./No calif.   4450.0
23442    41  2_Sec. comp y más    39  2_Op./No calif.   9500.0
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

[23448 rows x 5 columns]

### 2.2 ¿Qué información tiene el dataset? Imprimir el nombre de las columnas

In [4]:
df.columns

Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

In [25]:
df = df.rename(columns={'ch06':'edad','nivel_ed':'nivel_educativo','htot':'hs_trabajadas','calif':'calif_ocupacional','p47t':'ingreso_ult_mes'})
df.head()

   edad    nivel_educativo  hs_trabajadas calif_ocupacional  ingreso_ult_mes
0    46        1_H/Sec inc             45   2_Op./No calif.           6000.0
1    26  2_Sec. comp y más             25   2_Op./No calif.           5000.0
2    47  2_Sec. comp y más             25   2_Op./No calif.           5000.0
3    52        1_H/Sec inc             90   2_Op./No calif.          11000.0
4    45        1_H/Sec inc             44   2_Op./No calif.           9500.0

Los nombres de columna no son muy descriptivos de la información que contienen las mismas. Probemos cambiarlos por la siguiente lista: 

['edad', 'nivel_educativo', 'hs_trabajadas', 'calif_ocupacional', 'ingreso_ult_mes']

### 2.3 ¿Cómo está indexado el dataset?

In [26]:
df.index

RangeIndex(start=0, stop=23448, step=1)

### 2.4 ¿Cuál es el tipo de la cuarta columna?

In [30]:
df.iloc[:, 4].dtypes

dtype('float64')

### 2.4 ¿Cuál es el nivel educativo más común?

In [32]:
df['nivel_educativo'].value_counts()

2_Sec. comp y más    14634
1_H/Sec inc           8814
Name: nivel_educativo, dtype: int64

### 2.5 ¿Y cómo se distribuye la población según calificación?

In [33]:
df['calif_ocupacional'].value_counts()

2_Op./No calif.    17372
1_Prof./Tecn.       6076
Name: calif_ocupacional, dtype: int64

### 2.6 ¿Cuál es el ingreso total de la población?

In [34]:
df['ingreso_ult_mes'].sum()

190114176.0

### 2.4 ¿Cuál es el ingreso medio de la población?

In [36]:
df['ingreso_ult_mes'].mean()

8107.905834186285

In [37]:
df['ingreso_ult_mes'].median()

7000.0

In [38]:
df['ingreso_ult_mes'].mode()

0    8000.0
dtype: float64

## 3. Indexando y ordenando los datos

### 3.1 Seleccionar la columna `nivel_educativo` e `ingreso_ult_mes` y asignarlas a un objeto nuevo llamado `df2`

In [43]:
df2 = df[['nivel_educativo','ingreso_ult_mes']]
df2

         nivel_educativo  ingreso_ult_mes
0            1_H/Sec inc           6000.0
1      2_Sec. comp y más           5000.0
2      2_Sec. comp y más           5000.0
3            1_H/Sec inc          11000.0
4            1_H/Sec inc           9500.0
5      2_Sec. comp y más           6000.0
6      2_Sec. comp y más           9000.0
7            1_H/Sec inc           4260.0
8            1_H/Sec inc           3800.0
9      2_Sec. comp y más          10517.0
10           1_H/Sec inc           8300.0
11     2_Sec. comp y más           4900.0
12     2_Sec. comp y más          11000.0
13     2_Sec. comp y más           9000.0
14           1_H/Sec inc           3500.0
15           1_H/Sec inc           8000.0
16           1_H/Sec inc           2500.0
17           1_H/Sec inc           7500.0
18           1_H/Sec inc           5000.0
19           1_H/Sec inc           5500.0
20     2_Sec. comp y más           7000.0
21     2_Sec. comp y más           6500.0
22           1_H/Sec inc           3000.0
23     2_Sec. comp y más           2000.0
24           1_H/Sec inc           9100.0
25           1_H/Sec inc           5100.0
26           1_H/Sec inc           7200.0
27           1_H/Sec inc           4800.0
28           1_H/Sec inc           2700.0
29           1_H/Sec inc           3000.0
...                  ...              ...
23418  2_Sec. comp y más          10500.0
23419  2_Sec. comp y más          13000.0
23420  2_Sec. comp y más           9500.0
23421  2_Sec. comp y más           9700.0
23422        1_H/Sec inc           3500.0
23423        1_H/Sec inc           8400.0
23424  2_Sec. comp y más           3500.0
23425  2_Sec. comp y más          12000.0
23426  2_Sec. comp y más           6000.0
23427  2_Sec. comp y más           5500.0
23428  2_Sec. comp y más           8200.0
23429  2_Sec. comp y más           6000.0
23430  2_Sec. comp y más           8500.0
23431  2_Sec. comp y más          15000.0
23432        1_H/Sec inc           6800.0
23433  2_Sec. comp y más           8000.0
23434  2_Sec. comp y más           7100.0
23435        1_H/Sec inc           3500.0
23436        1_H/Sec inc           5800.0
23437        1_H/Sec inc           3500.0
23438  2_Sec. comp y más           5800.0
23439        1_H/Sec inc           3500.0
23440        1_H/Sec inc           7000.0
23441        1_H/Sec inc           4450.0
23442  2_Sec. comp y más           9500.0
23443  2_Sec. comp y más           4000.0
23444        1_H/Sec inc           5000.0
23445  2_Sec. comp y más          13000.0
23446        1_H/Sec inc           4000.0
23447        1_H/Sec inc           8000.0

[23448 rows x 2 columns]

### 3.2 Seleccionar de df2 las primeras 20 filas

In [45]:
df2.head(20)

      nivel_educativo  ingreso_ult_mes
0         1_H/Sec inc           6000.0
1   2_Sec. comp y más           5000.0
2   2_Sec. comp y más           5000.0
3         1_H/Sec inc          11000.0
4         1_H/Sec inc           9500.0
5   2_Sec. comp y más           6000.0
6   2_Sec. comp y más           9000.0
7         1_H/Sec inc           4260.0
8         1_H/Sec inc           3800.0
9   2_Sec. comp y más          10517.0
10        1_H/Sec inc           8300.0
11  2_Sec. comp y más           4900.0
12  2_Sec. comp y más          11000.0
13  2_Sec. comp y más           9000.0
14        1_H/Sec inc           3500.0
15        1_H/Sec inc           8000.0
16        1_H/Sec inc           2500.0
17        1_H/Sec inc           7500.0
18        1_H/Sec inc           5000.0
19        1_H/Sec inc           5500.0

### 3.2 Seleccionar de df una muestra aleatoria de 500 filas

In [46]:
df2.sample(500)

         nivel_educativo  ingreso_ult_mes
11596  2_Sec. comp y más           5000.0
10235  2_Sec. comp y más          25000.0
6298   2_Sec. comp y más           7800.0
1834   2_Sec. comp y más           5000.0
1577   2_Sec. comp y más          13000.0
18076  2_Sec. comp y más          20000.0
12487  2_Sec. comp y más           8800.0
17611        1_H/Sec inc          10000.0
630          1_H/Sec inc           1200.0
17358  2_Sec. comp y más          18000.0
20436  2_Sec. comp y más          10000.0
9911         1_H/Sec inc           4000.0
18793  2_Sec. comp y más           4600.0
5370   2_Sec. comp y más           3500.0
16349  2_Sec. comp y más          19000.0
1677         1_H/Sec inc           3200.0
4101         1_H/Sec inc           4000.0
22780        1_H/Sec inc          30000.0
14984        1_H/Sec inc           2590.0
18873        1_H/Sec inc           8000.0
6987         1_H/Sec inc          18000.0
20588        1_H/Sec inc           1500.0
8646   2_Sec. comp y más          19000.0
20925  2_Sec. comp y más           9000.0
17444  2_Sec. comp y más           5200.0
13840        1_H/Sec inc           3560.0
9238   2_Sec. comp y más           5000.0
11694  2_Sec. comp y más          20000.0
14514        1_H/Sec inc           5000.0
16210        1_H/Sec inc          50000.0
...                  ...              ...
13363  2_Sec. comp y más           9500.0
23399        1_H/Sec inc           6000.0
21596  2_Sec. comp y más           9000.0
9618   2_Sec. comp y más           7000.0
1864   2_Sec. comp y más          15000.0
19253        1_H/Sec inc           3000.0
16268        1_H/Sec inc          12000.0
15048        1_H/Sec inc           3000.0
2723   2_Sec. comp y más          18000.0
22608        1_H/Sec inc           9000.0
22649  2_Sec. comp y más          10000.0
22331        1_H/Sec inc          10000.0
9086   2_Sec. comp y más           1000.0
8453   2_Sec. comp y más           8300.0
16061        1_H/Sec inc          18000.0
2517   2_Sec. comp y más           7500.0
3369   2_Sec. comp y más           5700.0
16083  2_Sec. comp y más          20000.0
19024  2_Sec. comp y más           4100.0
20205  2_Sec. comp y más           9000.0
23421  2_Sec. comp y más           9700.0
12783        1_H/Sec inc           4500.0
9310         1_H/Sec inc          10000.0
11460        1_H/Sec inc           3185.0
13755        1_H/Sec inc           1900.0
1893   2_Sec. comp y más          12000.0
16771  2_Sec. comp y más           7000.0
4027   2_Sec. comp y más           4600.0
9919   2_Sec. comp y más           5000.0
16448  2_Sec. comp y más           5000.0

[500 rows x 2 columns]

### 3.4 Elegir todas las columnas, con excepción de nivel_educativo. Tip: Utilizar la propiedad columns para filtrar en la dimensión de las columnas.

In [63]:
df.columns

Index(['edad', 'nivel_educativo', 'hs_trabajadas', 'calif_ocupacional',
       'ingreso_ult_mes'],
      dtype='object')

### 3.5 Ordenar el dataset según la edad

In [64]:
df.sort_values('edad')

,edad,nivel_educativo,hs_trabajadas,calif_ocupacional,ingreso_ult_mes
15308,12,1_H/Sec inc,7,2_Op./No calif.,250.0
19856,12,1_H/Sec inc,15,2_Op./No calif.,1200.0
20050,12,1_H/Sec inc,20,2_Op./No calif.,1600.0
5698,12,1_H/Sec inc,5,2_Op./No calif.,250.0
14556,13,1_H/Sec inc,14,2_Op./No calif.,800.0
15198,13,1_H/Sec inc,6,2_Op./No calif.,800.0
16659,13,1_H/Sec inc,60,2_Op./No calif.,3000.0
3776,14,1_H/Sec inc,20,2_Op./No calif.,1000.0
6027,14,1_H/Sec inc,6,2_Op./No calif.,2316.0
6462,14,1_H/Sec inc,3,2_Op./No calif.,250.0
15106,14,1_H/Sec inc,29,2_Op./No calif.,2750.0
17971,14,1_H/Sec inc,9,2_Op./No calif.,1350.0
14853,14,1_H/Sec inc,14,2_Op./No calif.,450.0
19656,14,1_H/Sec inc,5,2_Op./No calif.,150.0
14087,14,1_H/Sec inc,15,2_Op./No calif.,3000.0
13727,15,1_H/Sec inc,24,2_Op./No calif.,3300.0
15286,15,1_H/Sec inc,6,2_Op./No calif.,400.0
1386,15,1_H/Sec inc,42,2_Op./No calif.,5400.0
23005,15,1_H/Sec inc,48,2_Op./No calif.,4200.0
2712,15,1_H/Sec inc,12,2_Op./No calif.,600.0
8305,15,1_H/Sec inc,25,2_Op./No calif.,3000.0
12169,15,1_H/Sec inc,45,2_Op./No calif.,2000.0
19655,15,1_H/Sec inc,5,2_Op./No calif.,150.0
11693,15,1_H/Sec inc,9,2_Op./No calif.,500.0
14785,15,1_H/Sec inc,10,2_Op./No calif.,800.0
17878,16,1_H/Sec inc,40,2_Op./No calif.,3000.0
6131,16,1_H/Sec inc,24,2_Op./No calif.,540.0
7447,16,1_H/Sec inc,48,2_Op./No calif.,2000.0
6473,16,1_H/Sec inc,30,2_Op./No calif.,1000.0
3165,16,1_H/Sec inc,2,1_Prof./Tecn.,300.0
...,...,...,...,...,...
9620,80,1_H/Sec inc,12,2_Op./No calif.,5700.0
14543,80,1_H/Sec inc,9,2_Op./No calif.,6200.0
22575,80,1_H/Sec inc,9,2_Op./No calif.,6500.0
1404,80,1_H/Sec inc,66,2_Op./No calif.,3600.0
20673,80,2_Sec. comp y más,24,2_Op./No calif.,6200.0
21036,80,1_H/Sec inc,42,1_Prof./Tecn.,8200.0
1701,81,1_H/Sec inc,30,1_Prof./Tecn.,6900.0
14882,81,1_H/Sec inc,30,2_Op./No calif.,6000.0
14579,81,1_H/Sec inc,43,2_Op./No calif.,6700.0
21919,81,1_H/Sec inc,30,2_Op./No calif.,6800.0
21567,81,2_Sec. comp y más,30,1_Prof./Tecn.,6600.0
5588,81,2_Sec. comp y más,50,1_Prof./Tecn.,19500.0
19386,81,1_H/Sec inc,7,2_Op./No calif.,10142.0
5342,82,1_H/Sec inc,9,2_Op./No calif.,4800.0
5343,82,2_Sec. comp y más,33,1_Prof./Tecn.,12300.0
20819,82,1_H/Sec inc,15,2_Op./No calif.,5700.0
16497,82,2_Sec. comp y más,13,2_Op./No calif.,7000.0
20213,82,2_Sec. comp y más,30,2_Op./No calif.,23800.0
17363,82,2_Sec. comp y más,12,2_Op./No calif.,8500.0
1270,82,2_Sec. comp y más,25,1_Prof./Tecn.,11700.0
12786,82,1_H/Sec inc,6,2_Op./No calif.,6900.0
18209,83,1_H/Sec inc,56,2_Op./No calif.,26700.0
20745,83,2_Sec. comp y más,40,1_Prof./Tecn.,8000.0
766,84,2_Sec. comp y más,30,1_Prof./Tecn.,7800.0
10087,84,1_H/Sec inc,48,1_Prof./Tecn.,8000.0
4340,84,1_H/Sec inc,36,2_Op./No calif.,7500.0
23317,84,1_H/Sec inc,25,2_Op./No calif.,9900.0
16461,85,2_Sec. comp y más,40,1_Prof./Tecn.,20700.0
16954,85,2_Sec. comp y más,36,2_Op./No calif.,8250.0
22574,93,1_H/Sec inc,20,2_Op./No calif.,8000.0

### 3.6 ¿Cuál es el promedio de horas trabajadas de los jóvenes entre 14 y 25 años y poco calificados?

In [78]:
df.loc[(df.edad > 13) & (df.edad < 26) & (df.calif_ocupacional == '2_Op./No calif.') , 'hs_trabajadas'].mean()

37.57085900688655

### 3.7 Generar un dataframe nuevo con los trabajadores que ganan más del promedio de ingresos general y están por debajo de la cantidad media de horas trabajadas. ¿Cuántos trabajadores se encuentran en esta condición? ¿Cuál es su edad mediana?

In [80]:
dfn = df.loc[ (df.ingreso_ult_mes > df['ingreso_ult_mes'].median()) & (df.hs_trabajadas < df['hs_trabajadas'].median())]

In [86]:
dfn['edad'].median()

43.0